body {
    font-family: Arial, sans-serif;
    background-color: #f5f8fa;
    margin: 0;
    padding: 0;
}

.app {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.input-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.tweet-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

#tweet {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

#enter {
    background-color: #1da1f2;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#enter:hover {
    background-color: #0d8bf0;
}

h3 {
    text-align: left;
}

.tweet-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.tweet {
    width: 100%;
    border: 1px solid #ccc;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 5px;
}

.input-controller {
    padding: 10px;
}

textarea[disabled] {
    width: calc(100% - 20px);
    border: none;
    resize: none;
    background-color: transparent;
    font-size: 14px;
    color: #333;
    overflow: hidden;
}

.deleteBtn {
    cursor: pointer;
    color: #1da1f2;
    transition: color 0.3s ease;
}

.deleteBtn:hover {
    color: #0d8bf0;
}

/* Estilos para el cuadro de error */
.error-box {
    background-color: rgba(255, 77, 77, 0.8); /* Color rojo con transparencia */
    color: white;
    padding: 10px;
    margin: 10px auto; /* Centra horizontalmente */
    width: fit-content; /* Ajusta el ancho al contenido */
    text-align: center; /* Centra el texto */
}

/* Estilos para el cuadro de confirmación */
.confirmation-box {
    background-color: rgba(77, 148, 255, 0.8); /* Color azul con transparencia */
    color: white;
    padding: 10px;
    margin: 10px auto; /* Centra horizontalmente */
    width: fit-content; /* Ajusta el ancho al contenido */
    text-align: center; /* Centra el texto */
}

.elfary-box {
    background-color: rgba(228, 196, 11, 0.724); /* Color azul con transparencia */
    color: white;
    padding: 10px;
    margin: 10px auto; /* Centra horizontalmente */
    width: fit-content; /* Ajusta el ancho al contenido */
    text-align: center; /* Centra el texto */
}